html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#lowpoly {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.el-textarea__inner {
  background-color: rgba(255, 255, 255, 0.65) !important;
}